body {
    font-family: sans-serif;
    text-align: center;
}

#title {
    font-weight: 500;
    color: orange
}

.text {
    font-size: 3em;
    color: blueviolet;
}

.alert {
    font-size: 24px;
    font-weight: 500;
}

.success {
    color: green;
}

.warning {
    color: orange
}

.error {
    color: red;
}

.social-links .link {
    color: teal;
}

.social-links .link:focus,
.social-links .link:hover {
    color: orange
}

.social-links .link:active {
    color: red;
}

.social-links {
    list-style-type: none;
}

.menu>li {
    border: 1px solid tomato;
}

a[title] {
    color: teal
}

a[href="https://htmlreference.io"] {
    color: teal;
}

a[href="https://cssreference.io"] {
    color: orange;
}

a[href="https://www.youtube.com"] {
    color: tomato;
}

.link {
    color: teal;
}

.link:hover {
    color: tomato;
}

.schedule {
    margin-left: auto;
    margin-right: auto;
}

.schedule-body > tr:hover {
    background-color: tomato;
    color: white;
}

.schedule {
    border-collapse: collapse;
}

.schedule th,
.schedule td {
    padding: 8px;
    border: 1px solid #212121;
}

body {
    font-family: sans-serif;
}

.menu,
.submenu {
    list-style-type: none;
}

